{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
	<!-- Navbar -->
	<section class="navbar--section">
	<nav class="navbar navbar-expand-lg ">
		<div class="container-fluid">
		<a class="navbar-brand" href="">E-Library</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
			<ul class="navbar-nav">
			<li class="nav-item">
				<a class="active nav-link " aria-current="page" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="explore">Explore</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
			<li>
				<a class="nav-link" href="{% url 'contri' user.id %}">Contributed</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="register">SignUp/Login</a>
			</li>
			{% endif %}
			</ul>
		</div>
		</div>
	</nav>
	</section>

	<!-- Brand -->
	<section class="brand--section ">
	<div class="container text-center">
		<div class="brand--items row">
		<div class="brand--image col-lg-6 col-md-12">
			<img src="https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image"/>
		</div>
		<div class=" col-lg-6 col-md-12">
			<p class="brand--details">The one stop solution for all your reading needs.</p>
			{% if user.is_authenticated %}
			<a class="btn btn-outline-success btn-lg" href="{% url 'addBook' user.id %}">Add Book</a>
			{% else %}

					<!-- Button trigger modal -->
		<button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
				data-bs-target="#staticBackdrop">
			Add Books
		</button>

		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
			aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Dear User</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				Please login before adding a book
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a type="button" class="btn btn-rimary" href="{% url 'login' %}">Login</a>
				</div>
			</div>
			</div>
		</div>
			{% endif %}
		</div>
		</div>
	</div>
	</section>

	<!-- Features -->
	<section class="feature--section">
	<div class="container text-center">
		<div class="feature--items row">
		<div class="feature--item col-lg-4 col-md-12">
			<div class="feature--icon">
			<img width="50" height="50"
				src="https://img.icons8.com/ios-filled/50/book.png" alt="book"/>
			</div>
			<div class="feature--details">
			<h4>Books</h4>
			</div>
		</div>
		<div class="feature--item col-lg-4 col-md-12">
			<div class="feature--icon">
			<img width="64" height="64"
				src="https://img.icons8.com/external-victoruler-solid-victoruler/64/external-read-education-and-school-victoruler-solid-victoruler.png" alt="external-read-education-and-school-victoruler-solid-victoruler"/>
			</div>
			<div class="feature--details">
			<h4>Read</h4>
			</div>
		</div>
		<div class="feature--item col-lg-4 col-md-12">
			<div class="feature--icon">
			<img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/download--v1.png"
				alt="download--v1"/>
			</div>
			<div class="feature--details">
			<h4>Download</h4>
			
			</div>
		</div>
		</div>
	</div>
	</section>

	<!-- Add your book -->
	<section class="addBook--section">
	<div class="container-fluid text-center">
		<div class="addBook--items row">
		<div class="addBook--details col-lg-12">
			<h2>Add your book</h2>
			<p>Help us by contributing to the wider section of the books</p>
			{% if user.is_authenticated %}
			<a class="btn btn-outline-success btn-lg" href="{% url 'addBook' user.id %}">Add Book</a>
			{% else %}

					<!-- Button trigger modal -->
		<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
			Add Books
		</button>

		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Dear User</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				Please login before adding a book
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a type="button" class="btn btn-rimary" href="{% url 'login' %}">Login</a>
				</div>
			</div>
			</div>
		</div>
			{% endif %}
		</div>
		</div>
	</section>

	<!-- Footer -->
	<section class="footer--section">
	<div class="container-fluid text-center">
		<div class="footer--items row">
		<div class="footer--details col-lg-12">
			<p>© 2023 E-Library. All rights reserved.</p>
		</div>
		</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
